@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

a.active hr{
  display: block;
}



*{
  font-family: Raleway;
}


@media screen and (max-width: 640px) {
  a.active {
    background-color: gray;
    color: white;
  }
  
}